services:
  lidis:
    build:
      target: send
      dockerfile: lidi.Dockerfile
    network_mode: host
    command:
      - "--from-tcp=127.0.0.1:6000"
      - "--to=127.0.0.1:6001"

  lidir:
    build:
      target: receive
      dockerfile: lidi.Dockerfile
    network_mode: host
    command:
      - "--from=127.0.0.1:6001"
      - "--to-tcp=127.0.0.1:6002"

  receiver:
    image: python:3.14
    network_mode: host
    environment:
      PYTHONUNBUFFERED: "1"
    volumes:
      - type: volume
        source: receiver_data
        target: /data
    develop:
      watch:
        - path: ./eurybis/receiver.py
          target: /receiver.py
          action: sync+restart
    command:
      - "python"
      - "/receiver.py"
      - "/data"
      - "--listen-port"
      - "6002"

volumes:
  receiver_data:
