services:
  origin:
    build:
      target: origin
      dockerfile: eurybis.Dockerfile
      provenance: false
      sbom: false
    network_mode: host
    develop: &eurybis-develop
      watch:
        - path: ./eurybis
          target: /eurybis/eurybis
          action: sync+restart
        - path: ./uv.lock
          action: rebuild

  receiver:
    build:
      target: receiver
      dockerfile: eurybis.Dockerfile
      provenance: false
      sbom: false
    network_mode: host
    # volumes:
    #   - type: bind
    #     source: ./data
    #     target: /data
    tmpfs:
      - /data:mode=777,noexec,size=10G
      - /tmp
    develop: *eurybis-develop
    command:
      - "/data"
      - "--listen-port=6001"
