services:
  origin:
    build:
      target: origin
      dockerfile: eurybis.Dockerfile
    ports:
      - host_ip: "127.0.0.1"
        published: 8080
        target: 8080
        app_protocol: "http"
        name: "eurybis-origin-http-server"
    develop: &eurybis-develop
      watch:
        - path: ./eurybis
          target: /eurybis/eurybis
          action: sync+restart
        - path: ./uv.lock
          action: rebuild

  lidis:
    build:
      target: send
      dockerfile: lidi.Dockerfile
    network_mode: host
    command:
      - "--from-tcp=127.0.0.1:6000"
      - "--to=127.0.0.1:6001"

  lidir:
    build:
      target: receive
      dockerfile: lidi.Dockerfile
    network_mode: host
    command:
      - "--from=127.0.0.1:6001"
      - "--to-tcp=127.0.0.1:6002"

  receiver:
    build:
      target: receiver
      dockerfile: eurybis.Dockerfile
    network_mode: host
    volumes:
      - type: volume
        source: receiver_data
        target: /data
    develop: *eurybis-develop
    command:
      - "/data"
      - "--listen-port=6002"

volumes:
  receiver_data:
