services:
  origin:
    image: eurybis
    mem_limit: 8G
    user: "3000"
    build: &eurybis-build
      provenance: false
      sbom: false
    network_mode: host
    tmpfs: &eurybis-tmpfs
      - /run:mode=777,noexec,size=1K
    develop: &eurybis-develop
      watch:
        - path: ./eurybis
          target: /eurybis/eurybis
          action: sync+restart
        - path: ./uv.lock
          action: rebuild
    command:
      - "origin"

  destination:
    image: eurybis
    mem_limit: 8G
    user: "3001"
    build: *eurybis-build
    network_mode: host
    # volumes:
    #   - type: bind
    #     source: /data_receive
    #     target: /data
    tmpfs:
      - /run:mode=777,noexec,size=1K
      - /data:mode=777,noexec,size=10G
    develop: *eurybis-develop
    command:
      - "destination"
      - "/data"
